<main class="container mt-2">
  <form [formGroup]="skillsForm" (ngSubmit)="onSubmit()">
    <label for="name" class="form-label">Nome</label>
    <input type="text" class="form-control" id="name" name="name" formControlName="name">

    <p class="mt-3">Habilidades</p>

    <div formArrayName="skills" class="border p-2">
      <div *ngFor="let skill of skills.controls; let i=index">
        <div [formGroupName]="i">
          <div class="row g-3">
            <div class="col-md-4">
              <label for="skillname" class="form-label">Skill name:</label>
              <input type="text" class="form-control" [ngClass]="['form-control']" formControlName="skill">
              <app-validation-message class="mb-3" *ngIf="formFieldContainsSpecificError(skill, 'skill', 'required')"
                [message]="'É obrigatório informar uma skill'"
                [cssClass]="'text-danger'">
              </app-validation-message>
            </div>

            <div class="col-md-3">
              <label class="form-label" for="experience">Time of exp:</label>
              <input class="form-control" id="experience" [ngClass]="['form-control']" type="text"
                formControlName="exp">
              <app-validation-message *ngIf="formFieldContainsSpecificError(skill, 'exp', 'required')"
                [message]="'É obrigatório informar o tempo de experiência'"
                [cssClass]="'text-danger mb-3'">
              </app-validation-message>
            </div>
            <div class="col-md-3">
              <label class="form-label" for="seniorlevel">Seniority level</label>
              <select class="form-select" id="seniorlevel{{i}}" formControlName="seniorLevel">
                <option value="" disabled selected></option>
                <option *ngFor="let level of levels" [value]="level.level">{{level.level}}</option>
              </select>
              <app-validation-message *ngIf="formFieldContainsSpecificError(skill, 'seniorLevel', 'required')"
                [message]="'É obrigatório informar o nível de senioridade'"
                [cssClass]="'text-danger mb-3'">
              </app-validation-message>
            </div>
            <div class="col-md-2 mt-5">
              <button type="button" class="btn btn-danger" (click)="removeSkill(i)">Remove</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="space-buttons">
      <button class="mt-3 btn btn-primary" type="button" (click)="addSkills()">Add</button>
      <button [disabled]="allSkillsInvalid()" class="mt-3 btn btn-secondary" type="submit">Submit</button>
    </div>
  </form>
</main>
